@media print {
 
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
 
  body {
    background-color: White;
    color: Black;
  }
 
  div.block, header, footer {
    display: none;
  }
 
}
